{% extends 'base.html' %}

{% block title %}
    todo list
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/todo/todo.css">
{% endblock %}
{% block scripts %}
    <script language="JavaScript" type="text/javascript" src="/static/js/todo/todo.js"></script>
{% endblock %}
{% block content %}
    {% if todo_list %}
        <ul>
            {% for todo in todo_list %}
                <li class="todo_item">{{ todo.desc }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No todos are available.</p>
    {% endif %}
{% endblock %}